{{ form_start(form, {
    'action': path('email_change_request_ajax'),
    'attr': {
        'id': 'ajax-form-change-email',
        'class': 'col p-0'
    }
}) }}

{% include ':FlashAlert:flash-alert.html.twig' with {
    'rawMessage': true,
    'alertType': 'successRaw',
    'alertStyle': 'success',
    'textAlign': 'center'
} %}

{% include ':FlashAlert:flash-alert.html.twig' with {
    'alertType': 'error',
    'alertStyle': 'danger',
    'textAlign': 'center'
} %}

<div class="row">
    <div class="col mt-3">
        {{ form_label(form.emailChangePending) }}
        {{ form_widget(form.emailChangePending) }}
    </div>
</div>

<div class="row">
    <div class="col mt-3">
        <input type="submit" value="{{ 'global.form.save_changes'|trans }}"/>
    </div>
</div>
{{ form_end(form) }}
