{{ form_start(form, {
    'action': path('email_change_request_ajax'),
    'attr': {
        'id': 'ajax-form-change-email',
        'class': 'col p-0'
    }
}) }}

{# TODO: change alert color if success or error #}
<div class="alert alert-dismissible d-none alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <p id="success-message" class="text-center m-0"></p>
</div>

<div class="row">
    <div class="col mt-3">
        {{ form_label(form.emailChangePending) }}
        {{ form_widget(form.emailChangePending) }}
    </div>
</div>

<div class="row">
    <div class="col mt-3">
        <input type="submit" value="{{ 'global.form.save_changes'|trans }}"/>
    </div>
</div>
{{ form_end(form) }}
