{{ form_start(form, {
    'attr': {
        'class': 'col p-0 my-3'
    }
}) }}

<div class="form-group">
    {{ form_label(form.plainPassword.first) }}
    {{ form_widget(form.plainPassword.first) }}
    {% include ':Component:password-strength-meter.html.twig' %}
</div>
<div class="form-group">
    {{ form_label(form.plainPassword.second) }}
    {{ form_widget(form.plainPassword.second) }}
</div>

<div class="form-group">
    <input
            class="btn btn-primary border-0 form-control rounded-0 text-white" type="submit"
            value="{{ 'global.form.submit'|trans }}"
    />
</div>
{{ form_end(form) }}
