{{ form_start(form, {
    'attr': {'class': 'col p-0'}
}) }}

<div class="row mt-3">
    <div class="col">
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first) }}
        <meter value="0" max="3" class="password-strength-meter" data-blacklist="{{ passwordBlacklist }}"></meter>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second) }}
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <input type="submit" value="{{ 'global.form.submit'|trans }}"/>
    </div>
</div>
{{ form_end(form) }}
