{{ form_start(form, {
    'method': 'patch',
    'action': path('password_change_ajax'),
    'attr': {
        'id': 'ajax-form-change-password',
        'class': 'col p-0'
    }
}) }}

<div class="alert alert-dismissible d-none alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <p id="success-message" class="text-center m-0"></p>
</div>
<div class="row">
    <div class="col mt-3">
        {{ form_label(form.currentPassword) }}
        {{ form_widget(form.currentPassword) }}
    </div>
</div>
<div class="row">
    <div class="col mt-3">
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first) }}
        <meter value="0" max="3" class="password-strength-meter"></meter>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second) }}
    </div>
</div>

<div class="row">
    <div class="col mt-3">
        <input type="submit" value="{{ 'global.form.change_password'|trans }}"/>
    </div>
</div>
{{ form_end(form) }}
