{{ form_start(form, {
    'method': 'patch',
    'attr': {'class': 'col p-0'}
}) }}

<div class="row">
    <div class="col mt-3">
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first) }}
    </div>
</div>
<div class="row">
    <div class="col mt-3">
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second) }}
    </div>
</div>

<div class="row">
    <div class="col mt-3">
        <input type="submit" value="{{ 'global.form.submit'|trans }}"/>
    </div>
</div>

{{ form_end(form) }}
