{{ form_start(form, {
    'action': path('password_change_ajax'),
    'attr': {
        'id': 'ajax-form-change-password',
        'class': 'col p-0'
    }
}) }}

{% include ':FlashAlert:flash-alert.html.twig' with {
    'alertType': 'success',
    'alertStyle': 'success',
    'textAlign': 'center'
} %}

<div class="row">
    <div class="col mt-3">
        {{ form_label(form.currentPassword) }}
        {{ form_widget(form.currentPassword) }}
    </div>
</div>
<div class="row">
    <div class="col mt-3">
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first) }}
        <meter value="0" max="3" class="password-strength-meter"></meter>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second) }}
    </div>
</div>

<div class="row">
    <div class="col mt-3">
        <input type="submit" value="{{ 'global.form.change_password'|trans }}"/>
    </div>
</div>
{{ form_end(form) }}
