{{ form_start(form, {
    'action': path('registration_ajax'),
    'attr': {
        'id': 'ajax-form-registration',
        'class': 'col p-0'
    }
}) }}

{% include ':FlashAlert:flash-alert.html.twig' with {
    'alertType': 'registration-success',
    'alertStyle': 'success',
    'textAlign': 'center'
} %}

<div class="row mt-3">
    <div class="col">
        {{ form_label(form.username) }}
        {{ form_widget(form.username) }}
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first) }}
        <meter value="0" max="3" class="password-strength-meter"></meter>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second) }}
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <input type="submit" class="btn btn-primary border-0 form-control rounded-0 text-white"
               value="{{ 'user.register'|trans }}"
        />
    </div>
</div>
{{ form_end(form) }}
