{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert-danger mb-3 p-1 text-center d-none" id="login-error-alert"></div>

    {% include 'flash-message-template.html.twig' with {
        'alertType': 'success',
        'alertStyle': 'alert-success',
        'textAlign': 'center'
    } %}

    <form action="{{ path("login") }}" method="post" id="ajax-form-login">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" id="formLogin"/>

        <input type="text" class="form-control border-input border-right-0 mb-3 rounded-0" id="username"
               name="_username" placeholder="{{ 'user.username' | trans }} or {{ 'user.email_address' | trans }}"
               aria-label="email" aria-describedby="email" required="required"/>

        <input type="password" class="form-control border-input border-right-0 mb-3 rounded-0" id="password"
               name="_password" placeholder="{{ 'user.password' | trans }}" aria-label="password"
               aria-describedby="password" required="required"/>
        <div class="d-flex pb-2 justify-content-between form-check">
            <input class="form-check-input" type="checkbox" id="remember_me" name="_remember_me" value="on"/>
            <label class="form-check-label" for="remember_me">{{ 'user.remember_me'|trans }}</label>
        </div>
        <input class="btn btn-primary border-0 form-control rounded-0 text-white" type="submit" id="_submit"
               name="_submit"
               value="{{ 'user.login'|trans }}"/>
    </form>
{% endblock %}
