{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('password-strength-meter') }}
{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="col">My Account</h1>
    </div>

    {{ render(controller('AppBundle\\Controller\\User\\EmailChangeController::changeFormAction')) }}
    {{ render(controller('AppBundle\\Controller\\User\\ManageAccountController::accountInformationFormAction')) }}
    {{ render(controller('AppBundle\\Controller\\User\\ManageAccountController::passwordChangeFormAction')) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('email-change') }}
    {{ encore_entry_script_tags('user-information') }}
    {{ encore_entry_script_tags('password-change') }}
    {{ encore_entry_script_tags('password-strength-meter') }}
{% endblock %}
