{% set passwordBlacklist = passwordBlacklist is defined ? passwordBlacklist : '' %}

<p id="password-strength-meter" data-blacklist="{{ passwordBlacklist }}">
    {{ 'password_strength_meter.password_strength'|trans }}
    <span id="password-strength-meter-feedback-weak" class="text-danger">
        {{ 'password_strength_meter.strength.weak'|trans }}
    </span>
    <span id="password-strength-meter-feedback-average" class="text-warning d-none">
        {{ 'password_strength_meter.strength.average'|trans }}
    </span>
    <span id="password-strength-meter-feedback-good" class="text-success d-none">
        {{ 'password_strength_meter.strength.good'|trans }}
    </span>
</p>
